<div class="container-fluid d-flex flex-column vh-100">
    <div class="row no-gutter flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
            <div class="login-card">
                <div align="center" routerLink="/" style="cursor: pointer">
                    <img alt="Image not load" src="assets/images/landing/lOGO_d/logo.png" style="width: 150px"/>
                </div>
                <div class="text-center mt-2">
                    <h3>Réinitialiser votre mot de passe</h3>
                </div>
                <p class="text-muted mt-3" align="center">Veuillez entrer votre adresse email pour recevoir un lien de réinitialisation</p>
                <div class="alert alert-success" *ngIf="mailSend">
                    Si l'adresse email que vous avez mentionné existe dans notre base de donnée, un mail de reinitialisation de votre mot de passe vous sera automatiquement envoyé
                </div>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetPasswordLink()">
                    <div class="form-floating form-floating-custom mb-3 position-relative">
                        <i class="uil uil-envelope icon"></i>
                        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="mt-3 d-flex flex-column align-items-center">
                        <button class="btn btn-primary mb-4" type="submit" [disabled]="loading">
                            <ng-container *ngIf="!loading; else loadingTemplate">Envoyer le lien</ng-container>
                            <ng-template #loadingTemplate>
                                <div class="spinner">
                                    <mat-spinner diameter="24" class="spinner"></mat-spinner>
                                </div>
                            </ng-template>
                        </button>
                    </div>
                </form>
                <div class="mt-4 text-center">
                    <p class="text-muted mb-0">Rappelez-vous de votre mot de passe ? <a class="text-decoration-underline" routerLink="/login">Se connecter</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
