.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background: #072150;
}

.login-card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-floating-custom {
  position: relative;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: #072150;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
}

.btn-primary:hover {
  background-color: white;
  color: #072150;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
  .container-fluid {
    background: white;
  }
  .login-card {
    box-shadow: none;
  }
}
