/* Styles globaux */
body {
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background: #072150;
}

.login-card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
}

h3 {
  margin-bottom: 2rem;
  font-weight: 500;
  color: #333;
}

.form-control {
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: #1e3c72;
  box-shadow: 0 0 8px rgba(30, 60, 114, 0.2);
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.icon-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

.btn-primary {
  background: #072150;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: white;
  color: #072150;
}

.text-muted {
  color: #6c757d;
}

.text-decoration-underline {
  text-decoration: underline;
}

.mat-spinner {
  color: white;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn-social {
  display: inline-block;
  margin: 0 10px;
}

.btn-social img {
  width: 40px;
  height: 40px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
  .container-fluid {
    background: white;
  }
  .login-card {
    box-shadow: none;
  }
}

.custom-snackbar {
  background-color: #1e3c72; /* Couleur de fond personnalisée */
  color: #ffffff; /* Couleur du texte */
}

.custom-snackbar-echec {
  background-color: #e80564; /* Couleur de fond personnalisée */
  color: #ffffff; /* Couleur du texte */
}
