.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.mat-tab-group {
  margin-top: 20px;
}

.mat-tab-label {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.mat-card-content {
  padding: 20px;
}

.mat-stroked-button {
  border-radius: 5px;
  border-width: 2px;
  font-weight: bold;
}

.mat-raised-button {
  background-color: #1e3c72;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.mat-form-field {
  width: 100%;
}

.identity-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #1e3c72;
}

h3, h4, h5, h6 {
  //color: #1e3c72;
}

h3 {
  margin-bottom: 20px;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #39408f;
  color: #fff;
}
