<section
  id="intro-wrap"
  class="intro-ten-Wrap tututu text-start text-white"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 intro-ten-LeftSection pb-3">
        <h1 class="fw-bold text-white text-42 mb-3 t-shadow">
          Maykconsulting
        </h1>
        <p class="text-20 mb-4">
          Votre procédure, notre priorité ..
        </p>
        <div class="mb-5 lead">
          <ul class="list-inline">
            <li class="mb-3">
              <i class="eva eva-checkmark-outline me-2 text-warning"></i
              >Admission pour étude à l'étranger garantie
            </li>
            <li class="mb-3">
              <i class="eva eva-checkmark-outline me-2 text-warning"></i>
              Procédure de Visa (Garant & logement )
            </li>
          </ul>
        </div>
        <div class="intro-ten-Buttons">
          <a
            name=""
            id=""
            routerLink="/login"
            class="btn btn-outline-white btn-lg ps-5 pe-5 pb-2 me-2 mb-4 text-uppercase half-button"
            role="button"
          >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm4-3a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
                  <path fill-rule="evenodd" d="M8 9a6.002 6.002 0 0 0-5.917 5h11.834A6.002 6.002 0 0 0 8 9zm-7 5a7 7 0 1 1 14 0H1z"/>
              </svg>

          </a>
          <a
            id=""
            class="btn btn-warning btn-lg ps-5 pe-5 pb-2 mb-4 text-uppercase half-button"
            routerLink="/register"
            role="button"
          >
            M'inscrire
          </a>
        </div>
      </div>
      <div class="col-md-6 intro-ten-RightSection d-flex align-items-center">
          <br>
          <br>
          <br><br>
        <div class="intro-ten-ProductImage">
          <img
            src="./assets/images/home.png"
            class="img-responsive"
            alt=""
            [@animate]="{
              value: '*',
              params: {
                x: '200px',
                opacity: '0',
                delay: '100ms',
                duration: '1500ms'
              }
            }"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
