.container {
  max-width: 800px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.m-2 {
  margin: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.p-2 {
  padding: 8px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}



