<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-header mb-5">
        <h2 class="fw-bold">Offre</h2>
        <p>
            Nous proposons plusieurs styles d'offres, incluant des options individuelles (singles) et des forfaits complets (packages), pour mieux répondre à vos besoins.
        </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-lg-0 mb-4 pricing-single-wrap">
        <div class="card o-hidden">
            <div class="card-header text-center p-3 mb-2">
                <h3 class="card-title fw-bold mb-2 text-uppercase">Admissions</h3>
            <p class="text-uppercase mb-0"><mat-icon>school</mat-icon></p>
          </div>
          <div class="card-body pt-0 text-center">
            <p class="card-text mb-2">
                <span>A partir de </span><br>
              <span class="money text-shadow text-30 fw-bold"
                >200 000 FCFA</span
              >
              <span></span>
            </p>
            <div class="offer-lists mb-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">France, Canada, Belgique </li>
                  <li class="list-group-item p-1">Parcours Sup / Campus France 🇫🇷</li>
                  <li class="list-group-item p-1">CEGEP et université au Canada 🇨🇦</li>
                  <li class="list-group-item p-1">Admission aux privés</li>
              </ul>
            </div>

            <a href="#" class="btn btn-gradient half-button ps-5 pe-5 pt-2 pb-2"
              >Choisir</a
            >
          </div>
        </div>
      </div>
      <!-- end of card -->
      <div class="col-sm-6 col-md-6 col-lg-4 mb-lg-0 mb-4 pricing-single-wrap">
        <div class="card o-hidden">
            <div class="card-header text-center p-3 mb-2">
                <h3 class="card-title fw-bold mb-2 text-uppercase">
              Hébergement
            </h3>
            <p class="text-uppercase mb-0"><mat-icon>hotel</mat-icon></p>
          </div>
          <div class="card-body pt-0 text-center">
            <p class="card-text mb-2">
                <span>A partir de </span><br>
                <span class="money text-shadow text-30 fw-bold"
                >200 000 FCFA</span
                >
                <span></span>
            </p>
            <div class="offer-lists mb-4">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item p-1">France, Canada, Belgique </li>
                <li class="list-group-item p-1">Contrat de bail </li>
                  <li class="list-group-item p-1">Attestation d'hébergement</li>
                  <li class="list-group-item p-1">Livin'France</li>
              </ul>
            </div>

            <a href="#" class="btn btn-gradient half-button ps-5 pe-5 pt-2 pb-2"
              >Choisir</a
            >
          </div>
        </div>
      </div>
      <!-- end of card -->
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-lg-0 mb-md-0 mb-sm-0 mb-4 pricing-single-wrap"
      >
        <div class="card o-hidden">
          <div class="card-header text-center p-3 mb-2">
            <h3 class="card-title fw-bold mb-2 text-uppercase">Garantie Financière</h3>
            <p class="text-uppercase mb-0"><mat-icon>account_balance</mat-icon>
            </p>
          </div>
          <div class="card-body pt-0 text-center">
            <p class="card-text mb-2">
                <span>A partir de </span><br>
                <span class="money text-shadow text-30 fw-bold"
                >400 000 FCFA</span
                >
                <span></span>
            </p>
            <div class="offer-lists mb-4">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item p-1">France, Canada, Belgique </li>
                  <li class="list-group-item p-1">Garant financier </li>
                <li class="list-group-item p-1">Document authentique et fiable</li>
                  <li class="list-group-item p-1">Option jusqu'à la fin (Optionnel)</li>

              </ul>
            </div>

            <a href="#" class="btn btn-gradient half-button ps-5 pe-5 pt-2 pb-2"
              >Choisir</a
            >
          </div>
        </div>
      </div>
      <!-- end of card -->
      
      <!-- end of card -->
    </div>
  </div>
</section>
