<!-- app.component.html -->
<div class="container mt-4 p-3">
    <div class="d-sm-flex justify-content-between align-items-center mb-2">
        <h3 class="mb-4 text-uppercase text-xl text-uppercase  fw-bold ">Mes Dossiers : Hébergement</h3>
        <button class="btn btn-dark d-none d-sm-inline-block" type="button" (click)="generateReport()">
            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Générer un rapport
        </button>
    </div>
    <!-- Status Cards -->
    <div class="row mb-2">
        <div class="col-md-3 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1">
                                <span>En attentes de paiement</span>
                            </div>
                            <div class="text-dark fw-bold h-5 mb-0">
								<span>
									{{ pendingRequestCount }}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span>En Cours</span>
                            </div>
                            <div class="text-dark fw-bold h-5 mb-0">
								<span>
									{{ inProgressRequestCount }}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                <span>Validés</span>
                            </div>
                            <div class="text-dark fw-bold h-5 mb-0">
								<span>
									{{ finishRequestCount }}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                <span>Archivés</span>
                            </div>
                            <div class="text-dark fw-bold h-5 mb-0">
								<span>
									{{ archivedRequestCount }}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-times fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table Section -->
    <!-- Angular Material Card -->
    <div class="card mb-4">
        <div class="card-header text-warning text-uppercase text-xs">En attente de paiement</div>

        <!-- Search Input -->
        <div class="input-group mb-1 mt-2 p-4">
            <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Rechercher ..." aria-describedby="search-icon" (keyup)="applyFilter($event, dataSource)">
            <div class="input-group-append">
            </div>
        </div>

        <!-- Table -->
        <table mat-table [dataSource]="dataSource" matSort class="">

            <!-- Photo Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>P. Identité</th>
                <td mat-cell *matCellDef="let element"><img [src]="element.photo ? element.photo : 'assets/images/landing/lOGO_d/logo.png'" alt="User Photo" class="user-photo"/></td>
            </ng-container>

            <!-- Demandeur Column -->
            <ng-container matColumnDef="demandeur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Demandeur </th>
                <td mat-cell *matCellDef="let element">{{element.demandeur}} </td>
            </ng-container>

            <!-- Pays Column -->
            <ng-container matColumnDef="pays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <!-- Téléphone Column -->
            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>

            <!-- Date Demande Column -->
            <ng-container matColumnDef="dateDemande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date demande </th>
                <td mat-cell *matCellDef="let element"> {{element.dateDemande | date: 'dd/MM/yyyy'}} à {{element.dateDemande | date: 'HH:mm'}} </td>
            </ng-container>

            <!-- Payé Column -->
            <ng-container matColumnDef="paye">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payé ? </th>
                <td  [ngStyle]="{'color': element.justificatifPaiement ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.justificatifPaiement ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Argent retiré Column -->
            <ng-container matColumnDef="payout">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cashout ? </th>
                <td  [ngStyle]="{'color': element.payout === '1' ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.payout === '1' ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="color: #d9006e" (click)="openEditHebergementDemande(element.userId)"><mat-icon>edit</mat-icon></button>
                    <button mat-button style="color: #1e3c72" (click)="openReply(element)"><mat-icon>mail</mat-icon></button>
                    <button mat-button color="warn" (click)="deleteRequest(element)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Empty State -->
            <tr *matNoDataRow>
                <td mat-cell colspan="6" class="text-center">Aucune donnée disponible</td>
            </tr>
        </table>

        <!-- Pagination Controls -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20 , 50]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="card mb-4">
        <div class="card-header text-primary text-uppercase text-xs">En cours de traitement</div>

        <!-- Search Input -->
        <div class="input-group mb-1 mt-2 p-4">
            <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Rechercher ..." aria-describedby="search-icon" (keyup)="applyFilter($event, dataSourceInProgress)">
            <div class="input-group-append">
            </div>
        </div>

        <!-- Table -->
        <table mat-table [dataSource]="dataSourceInProgress" matSort class="mat-elevation-z2">

            <!-- Photo Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>P. Identité  </th>
                <td mat-cell *matCellDef="let element"><img [src]="element.photo ? element.photo : 'assets/images/landing/lOGO_d/logo.png'" alt="User Photo" class="user-photo"/></td>
            </ng-container>

            <!-- Demandeur Column -->
            <ng-container matColumnDef="demandeur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Demandeur </th>
                <td mat-cell *matCellDef="let element">  {{element.demandeur}} </td>
            </ng-container>

            <!-- Pays Column -->
            <ng-container matColumnDef="pays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <!-- Téléphone Column -->
            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>

            <!-- Date Demande Column -->
            <ng-container matColumnDef="dateDemande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date demande </th>
                <td mat-cell *matCellDef="let element"> {{element.dateDemande | date: 'dd/MM/yyyy'}} à {{element.dateDemande | date: 'HH:mm'}} </td>
            </ng-container>

            <!-- Payé Column -->
            <ng-container matColumnDef="paye">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payé ? </th>
                <td  [ngStyle]="{'color': element.justificatifPaiement ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.justificatifPaiement ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Argent retiré Column -->
            <ng-container matColumnDef="payout">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cashout ? </th>
                <td  [ngStyle]="{'color': element.payout === '1' ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.payout === '1' ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="color: #d9006e" (click)="openEditHebergementDemande(element.userId)"><mat-icon>edit</mat-icon></button>
                    <button mat-button style="color: #1e3c72" (click)="openReply(element)"><mat-icon>mail</mat-icon></button>
                    <button mat-button color="warn" (click)="deleteRequest(element)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Empty State -->
            <tr *matNoDataRow>
                <td mat-cell colspan="6" class="text-center">Aucune donnée disponible</td>
            </tr>
        </table>

        <!-- Pagination Controls -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20 , 50]" showFirstLastButtons #inProgressPaginator></mat-paginator>
    </div>

    <div class="card mb-4">
        <div class="card-header text-success text-uppercase text-xs">Traitement terminé</div>

        <!-- Search Input -->
        <div class="input-group mb-1 mt-2 p-4">
            <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Rechercher ..." aria-describedby="search-icon" (keyup)="applyFilter($event, dataSourceFinish)">
            <div class="input-group-append">
            </div>
        </div>

        <!-- Table -->
        <table mat-table [dataSource]="dataSourceFinish" matSort class="mat-elevation-z2">
            <!-- Photo Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>P. Identité  </th>
                <td mat-cell *matCellDef="let element"><img [src]="element.photo ? element.photo : 'assets/images/landing/lOGO_d/logo.png'" alt="User Photo" class="user-photo"/></td>
            </ng-container>

            <!-- Demandeur Column -->
            <ng-container matColumnDef="demandeur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Demandeur </th>
                <td mat-cell *matCellDef="let element">{{element.demandeur}} </td>
            </ng-container>

            <!-- Pays Column -->
            <ng-container matColumnDef="pays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <!-- Téléphone Column -->
            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>

            <!-- Date Demande Column -->
            <ng-container matColumnDef="dateDemande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date demande </th>
                <td mat-cell *matCellDef="let element"> {{element.dateDemande | date: 'dd/MM/yyyy'}} à {{element.dateDemande | date: 'HH:mm'}} </td>
            </ng-container>

            <!-- Payé Column -->
            <ng-container matColumnDef="paye">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payé ? </th>
                <td  [ngStyle]="{'color': element.justificatifPaiement ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.justificatifPaiement ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Argent retiré Column -->
            <ng-container matColumnDef="payout">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cashout ? </th>
                <td  [ngStyle]="{'color': element.payout === '1' ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.payout === '1' ? 'Oui' : 'Non'}} </strong>  </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="color: #d9006e" (click)="openEditHebergementDemande(element.userId)"><mat-icon>edit</mat-icon></button>
                    <button mat-button style="color: #1e3c72" (click)="openReply(element)"><mat-icon>mail</mat-icon></button>
                    <button mat-button color="warn" (click)="deleteRequest(element)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Empty State -->
            <tr *matNoDataRow>
                <td mat-cell colspan="6" class="text-center">Aucune donnée disponible</td>
            </tr>
        </table>



        <!-- Pagination Controls -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20 , 50]" showFirstLastButtons #finishPaginator></mat-paginator>
    </div>

    <div class="card mb-4">
        <div class="card-header text-danger text-uppercase text-xs">Demandes Archivées</div>

        <!-- Search Input -->
        <div class="input-group mb-1 mt-2 p-4">
            <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Rechercher ..." aria-describedby="search-icon" (keyup)="applyFilter($event, dataSourceArchived)">
            <div class="input-group-append">
            </div>
        </div>

    <!-- Table -->
    <table mat-table [dataSource]="dataSourceArchived" matSort class="mat-elevation-z2">
        <!-- Photo Column -->
        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>P. Identité  </th>
            <td mat-cell *matCellDef="let element"><img [src]="element.photo ? element.photo : 'assets/images/landing/lOGO_d/logo.png'" alt="User Photo" class="user-photo"/></td>
        </ng-container>

        <!-- Demandeur Column -->
        <ng-container matColumnDef="demandeur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Demandeur </th>
            <td mat-cell *matCellDef="let element">{{element.demandeur}} </td>
        </ng-container>

        <!-- Pays Column -->
        <ng-container matColumnDef="pays">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <!-- Téléphone Column -->
        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
        </ng-container>

        <!-- Date Demande Column -->
        <ng-container matColumnDef="dateDemande">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date demande </th>
            <td mat-cell *matCellDef="let element"> {{element.dateDemande | date: 'dd/MM/yyyy'}} à {{element.dateDemande | date: 'HH:mm'}} </td>
        </ng-container>

        <!-- Payé Column -->
        <ng-container matColumnDef="paye">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payé ? </th>
            <td  [ngStyle]="{'color': element.justificatifPaiement ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.justificatifPaiement ? 'Oui' : 'Non'}} </strong>  </td>
        </ng-container>

        <!-- Argent retiré Column -->
        <ng-container matColumnDef="payout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cashout ? </th>
            <td  [ngStyle]="{'color': element.payout === '1' ? 'green' : 'red'}" mat-cell *matCellDef="let element"> <strong> {{element.payout === '1' ? 'Oui' : 'Non'}} </strong>  </td>
        </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="color: #d9006e" (click)="openEditHebergementDemande(element.userId)"><mat-icon>edit</mat-icon></button>
                    <button mat-button style="color: #1e3c72" (click)="openReply(element)"><mat-icon>mail</mat-icon></button>
                    <button mat-button color="warn" (click)="deleteRequest(element)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Empty State -->
        <tr *matNoDataRow>
            <td mat-cell colspan="6" class="text-center">Aucune donnée disponible</td>
        </tr>
    </table>
    <!-- Pagination Controls -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20 , 50]" showFirstLastButtons #archivedPaginator></mat-paginator>
    </div>

    <!-- Dialog Réponse -->
    <ng-template #replyDialog>
        <h2 mat-dialog-title>Envoyer un mail</h2>
        <mat-dialog-content>
            <form [formGroup]="replyForm" class="reply-form">
                <mat-form-field appearance="outline" class="full-width" floatLabel="always">
                    <mat-label>Destinataire</mat-label>
                    <input matInput formControlName="to">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width" floatLabel="always">
                    <mat-label>Objet</mat-label>
                    <input matInput formControlName="subject">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width" floatLabel="always">
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="6" formControlName="message"></textarea>
                </mat-form-field>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Fermer</button>
            <button mat-raised-button color="primary" (click)="sendReply()" [disabled]="replyForm.invalid || isSending">Envoyer</button>
        </mat-dialog-actions>
    </ng-template>

</div>
