<section id="features-wrap" class="features_wrap p-t-b-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-header mb-5">
        <h2 class="fw-bold">Nos services</h2>
        <p>
            Nous sommes une structure qui aide les étudiants dans leurs démarches d'études à l'étranger, notamment pour obtenir un visa, des admissions ainsi que des logements.
        </p>
      </div>

      <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body pt-4 pb-4 text-center" (click)="openPopUpAdmissionInfo()" >
                  <mat-icon>school</mat-icon>
                  <h4 class="card-title pt-2 fw-medium">Admissions</h4>
                <p>Plus de 3 pays dans notre catalogue .</p>
              </div>
                <div style="margin-bottom: 23px"></div>
                <button class="btn btn-gradient half-button" matTooltip="Consulter" routerLink="/register">Voir +</button>
            </div>
          </div>
          <!-- end of left card col-6 -->
          <div class="col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body pt-4 pb-4 text-center">
                  <mat-icon>hotel</mat-icon>
                <h4 class="card-title pt-2 fw-medium">Hébergement</h4>
                <p>Recherche de logement / Fourniture de documents</p>
              </div>
                <button class="btn btn-gradient half-button" matTooltip="Consulter" routerLink="/register">Voir +</button>
            </div>
          </div>
          <!-- end of left card col-6 -->
            <div class="col-md-6 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body pt-4 pb-4 text-center">
                        <mat-icon>widgets</mat-icon>
                        <h4 class="card-title pt-2 fw-medium">Procédure de visa</h4>
                        <p>France , Canada , Belgique</p>
                    </div>
                    <button class="btn btn-gradient half-button" matTooltip="Consulter" routerLink="/register">Voir +</button>
                </div>
            </div>
          <!-- end of left card col-6 -->
            <div class="col-md-6 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body pt-4 pb-4 text-center">
                        <mat-icon>work</mat-icon>
                        <h4 class="card-title pt-2 fw-medium">Garantie Financière</h4>
                        <p>France , Canada , Belgique</p>
                    </div>
                    <button class="btn btn-gradient half-button" matTooltip="Consulter" routerLink="/register">Voir +</button>
                </div>
            </div>
          <!-- end of left card col-6 -->
        </div>
      </div>
      <!-- end of col-6 -->
      <div
        class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center"
      >
        <img
          src="./assets/images/landing/lOGO_d/consulting.png"
          class="img-responsive w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
